* {
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}

.Book, .AddBook{
    display: grid;
    gap:10px;
    grid-template-columns: 250px;
    background-color: darkgrey;
    color: whitesmoke;
    border-radius: 10px;
    width:250px;
    padding:15px;
    
}
.Book button, .AddBook button {
    /* width:75px;
    height:25px; */
    padding:10px;
    border-radius: 7px;
    border:2px solid black;
}
#ShowError {
    color: red;
    padding: 2px 0;
}
#CreateBookBtn {
    padding:5px;
}
.AddBook button {
    background-color: #3e1783;
    color:whitesmoke;
    font-size: 30px;
}
.Output {
    background-color: #424348;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    align-items: center;
}
#BookForm {
    width:250px;
    background-color: #3e1783;
    color:whitesmoke;
    padding:15px;
    border-radius: 10px;
    display: none;
}
.FormInput {
    display: grid;
    gap:10px;
    grid-template-columns: max-content auto;
    width: 250px;
    overflow: hidden;
    padding-bottom: 10px;
}
body {
    background-color: #424348;
    padding:40px;
}